<h1
class="text-[50px] lg:text-[70px] leading-tight tracking-wide font-semibold text-gray-800 text-center mb-6"
>
Speakers
</h1>
<div
  class="2xl:mx-[8rem] md:mx-[1.5rem] mx-[1.5rem] bg-gray-100 py-10 rounded-2xl"
>
<!-- <app-coming-soon-card> </app-coming-soon-card> -->
<div
class="grid items-center justify-center grid-cols-12 gap-x-4 gap-y-10 xl:gap-x-20"
>
<div
  *ngFor="let user of speakersDetails"
  class="h-full col-span-12 lg:col-span-3 md:col-span-4"
>
  <div class="flex items-center justify-center h-full">
    <app-member-card
      [item]="user"
      class="w-full h-full"
    ></app-member-card>
  </div>
</div>
</div>
</div>

