<div class="grid grid-cols-12 gap-5 overflow-hidden">
  <div class="md:col-span-3 col-span-12">
    <div class="items-center justify-center flex">
      <img
        src="assets/images/welcome1.svg"
        alt="GDG-SILIGURI"
        class="m-4 md:w-96 w-48"
      />
    </div>
  </div>
  <div class="md:col-span-9 col-span-12">
    <p class="lg:text-4xl text-3xl mx-4 text-center md:text-left">
      <span class="text-[#EA4335]">স্বাগতম</span>&nbsp;<span
        class="text-[#8C8C8C]"
        >/</span
      >&nbsp; <span class="text-[#189D58]">स्वागत छ</span>&nbsp;<span
        class="text-[#8C8C8C]"
        >/</span
      >&nbsp;
      <span class="text-[#FABC13]">स्वागत है</span>
    </p>
    <p class="lg:text-2xl text-md m-4">
      Welcome to the Google Developer Groups Siliguri. We're a group of
      developers who are passionate about learning and sharing knowledge about
      Google developer technologies. We host regular meetups, workshops, and
      hackathons, and we also have a vibrant online community.
    </p>
  </div>
</div>
