<div class="mx-auto min-h-[70vh] max-w-screen-2xl">
  <div class="mt-20">
    @if (eventData$ | async; as data) {
    <app-devfest-hero [eventData]="data"></app-devfest-hero>
    }
    <app-contact-map> </app-contact-map>
    <app-devfest-faq></app-devfest-faq>
    <app-google-products></app-google-products>
    <app-keep-in-touch></app-keep-in-touch>
    <app-speakers> </app-speakers>
    <!-- 
    <app-whats-is></app-whats-is>
    <app-sponsors> </app-sponsors>
    <app-partners> </app-partners>
    <app-review></app-review>
     -->
  </div>
</div>
