.example-spacer {
  flex: 1 1 auto;
}
.navbar {
  background-color: #fff;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.navbar__btn {
  border-radius: 28px;
  background: #4885ed;
  color: white;
  padding: 12px 24px;
  /* width: 6.3rem; */
  /* font-size: 0.5em; */
}
