<div class="mt-20 min-h-[70vh] mx-auto max-w-screen-2xl">
  <div class="mx-[1.5rem] flex text-center flex-col items-center">
    <h1 class="p-4 text-5xl font-semibold md:text-6xl md:p-7">
      Google Developers Group, Siliguri
    </h1>
    <p class="my-2 text-xl font-semibold md:text-2xl md:mx-5">
      Of the Developers, By the Developers, For the Developers
    </p>
    <p
      class="mt-5 text-base text-gray-500 md:text-xl md:font-semibold md:mt-10"
    >
      Google Developer Group Siliguri is a Siliguri community-run meetup for
      developers interested in resources and technology from Google Developers.
      We try to engage student developers, fresh graduates and professionals
      through our hack events & meetups.
    </p>
    <p
      class="mt-5 text-base text-gray-500 md:text-xl md:font-semibold md:mt-10"
    >
      The motive is to create a local ecosystem of programmers & hackers in and
      around Siliguri. The technology awareness is main goal for first few years
      of the group. To put it in a nutshell, we are a community that organises
      tech talks, workshops, bootcamps, Google flagship events where programmers
      meet to discuss and work with several Google developer resources and
      products.
    </p>
    <a
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 px-5 py-2.5 mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 rounded-full w-[10rem] text-lg font-semibold my-5"
      href="https://gdg.community.dev/gdg-siliguri/"
    >
      Contact Us
    </a>
    <a href="mailto:gdgsiligguri.com " class="text-blue-700 hover:underline"
      >Questions? please email us
    </a>
  </div>
</div>
