<div class="flex gap-x-4 p-2">
  <div
    class="flex flex-auto items-center justify-center md:w-1/4 w-4/12 border border-black rounded-lg"
  >
    <img
      src="assets/images/logos/gdg_logo_full.svg"
      class="gdg-logo w-full p-2"
      fetchpriority="high"
      alt=""
    />
  </div>
  <div class="flex justify-items-center items-center md:w-3/4 w-8/12">
    <img
      src="assets/images/io8.webp"
      class="w-full h-full border border-black rounded-lg"
      alt=""
      fetchpriority="high"
    />
  </div>
</div>
<div class="flex flex-col lg:flex-row md:flex-row gap-x-5 gap-y-5 p-2">
  <div class="flex flex-auto lg:w-2/5 md:w-1/5 h-auto lg:h-auto">
    <img
      src="assets/images/ioposter.webp"
      class="w-full border border-black rounded-lg object-cover"
      alt=""
      fetchpriority="high"
    />
  </div>
  <div class="flex flex-auto lg:w-3/5 md:w-3/5 h-52 lg:h-96">
    <img
      src="assets/images/io6.webp"
      class="w-full lg:h-full border border-black rounded-lg object-cover"
      alt=""
      fetchpriority="high"
    />
  </div>
</div>
