<div class="grid grid-cols-12 gap-5 overflow-hidden mx-[1.5rem] mb-[2rem]">
  <div class="col-span-12">
    <div
      class="xl:h-[33rem] lg:h-[25rem] md:h-[17rem] h-[17rem] bg-cover w-full"
    >
      <picture>
        <source
          media="(min-width:1024px)"
          srcset="assets/images/new-banner.webp"
        />
        <source
          media="(min-width:768px)"
          srcset="assets/images/new-banner.webp"
        />
        <img
          src="assets/images/new-banner-mobile.webp"
          alt="Devfest 2023"
          style="width: auto"
          class="w-full h-full rounded-2xl md:rounded-3xl"
        />
      </picture>
    </div>
  </div>
  <div class="md:col-span-6 col-span-12 md:min-h-[36.5rem]">
    <div class="md:min-h-[10rem] min-h-[9rem]">
      <img
        src="assets/images/devfest.png"
        class="logo"
        alt="devfest-siliguri"
      />
    </div>
    <p class="text-xl font-medium text-gray-400">
      Whether you're passionate about finding new opportunities, elevating your
      knowledge on the latest Google developer tools, or exploring how to use
      Google technologies to generate social and economic impact, DevFest offers
      an amazing platform for developers to connect locally, learn, and build on
      Google's tools.
    </p>
    <p class="flex items-center pt-4 text-lg text-gray-500">
      <svg
        class="w-4 h-4 text-gray-500 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 20 20"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 1v3m5-3v3m5-3v3M1 7h18M5 11h10M2 3h16a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1Z"
        />
      </svg>
      &nbsp;4th November 8:00 AM IST
    </p>
    <p class="flex items-center py-2 mb-3 text-lg text-gray-500 md:mb-6">
      <svg
        class="w-4 h-4 text-gray-500 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 21"
      >
        <g
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <path d="M8 12a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
          <path
            d="M13.8 12.938h-.01a7 7 0 1 0-11.465.144h-.016l.141.17c.1.128.2.252.3.372L8 20l5.13-6.248c.193-.209.373-.429.54-.66l.13-.154Z"
          />
        </g>
      </svg>
      &nbsp;
      <a class="underline cursor-pointer" (click)="scrollToSection('venue')"
        >Royal Sarovar Portico, Siliguri</a
      >
    </p>
    <a
      href="https://www.commudle.com/communities/google-developers-group-siliguri/events/devfest-siliguri-2023"
      target="_blank"
      rel="noopener noreferrer"
      type="button"
      class="text-white bg-[#7c4dff] hover:bg-blue-800 focus:outline-none font-medium rounded-full text-xl px-6 py-4 my-3 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700"
    >
      Grab Your Tickets!
    </a>
  </div>
  <div class="col-span-12 md:col-span-6">
    <div class="grid h-full grid-cols-12 gap-6 mt-2 md:mt-0">
      <div class="col-span-6 md:col-span-6">
        <div
          class="flex max-w-sm p-6 bg-[#80F0AE] rounded-2xl h-full justify-center items-center flex-col"
        >
          <h5
            class="mb-2 text-6xl font-medium tracking-tight text-gray-900 dark:text-white"
          >
            {{ remainingDays }}
          </h5>
          <p class="text-3xl font-normal text-gray-700 dark:text-gray-400">
            Days
          </p>
        </div>
      </div>
      <div class="col-span-6 md:col-span-6">
        <div
          class="flex max-w-sm p-6 bg-[#80F0AE] rounded-2xl h-full justify-center items-center flex-col"
        >
          <h5
            class="mb-2 text-6xl font-medium tracking-tight text-gray-900 dark:text-white"
          >
            {{ remainingHours }}
          </h5>
          <p class="text-3xl font-normal text-gray-700 dark:text-gray-400">
            Hours
          </p>
        </div>
      </div>
      <div class="col-span-6 md:col-span-6 mb-2">
        <div
          class="flex max-w-sm p-6 bg-[#80F0AE] rounded-2xl h-full justify-center items-center flex-col"
        >
          <h5
            class="mb-2 text-6xl font-medium tracking-tight text-gray-900 dark:text-white"
          >
            {{ remainingMinutes }}
          </h5>
          <p class="text-3xl font-normal text-gray-700 dark:text-gray-400">
            Minutes
          </p>
        </div>
      </div>
      <div class="col-span-6 md:col-span-6 mb-2">
        <div
          class="flex max-w-sm p-6 bg-[#80F0AE] rounded-2xl h-full justify-center items-center flex-col"
        >
          <h5
            class="mb-2 text-6xl font-medium tracking-tight text-gray-900 dark:text-white"
          >
            {{ remainingSeconds }}
          </h5>
          <p class="text-3xl font-normal text-gray-700 dark:text-gray-400">
            Seconds
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
