<div class="grid justify-items-center gap-y-4 lg:gap-y-8">
    <div class="border-2 py-[30px] w-[90%] md:w-[35%] lg:w-[25%]  h-[280.375px] lg:h-[300px] flex flex-col justify-center items-center rounded-[20px]">
        <div class="w-[80px] lg:w-[120px] h-[80px] lg:h-[120px] border-2 rounded-[80px]">
            <img src="../../../assets/images/ioposter.webp" class="w-[80px] lg:w-[120px] h-[80px] lg:h-[120px] rounded-[80px]" alt="speaker image">
        </div>
        <div class="my-[30px]">
            <h2 class="text-center text-[20px] leading-[24px] font-semibold font-sans text-[#212529] mb-[6px]">Name</h2>
            <h2 class="text-center text-[13px] leading-[16.8px] font-sans text-[#5D7688]">Designation</h2>
        </div>
        <a href="#" class="text-center text-center text-[15px] leading-[16.8px] font-sans text-[#4387F6] font-semibold">View Profile</a>
    </div>
</div>
