<div
  class="grid grid-cols-12 md:gap-10 gap-5 overflow-hidden mx-[1.5rem] mb-[2rem] bg-white lg:p-12 rounded-2xl md:p-5 p-3"
>
  <div class="md:col-span-6 col-span-12">
    <h1
      class="lg:text-7xl md:text-5xl text-4xl font-[600] text-[#3c4043] text-center md:text-left"
    >
      Frequently asked questions
    </h1>
  </div>
  <div class="md:col-span-6 col-span-12">
    <div
      id="accordion-flush"
      data-accordion="collapse"
      data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white"
      data-inactive-classes="text-gray-500 dark:text-gray-400"
    >
      <ng-container *ngFor="let item of data; let i = index">
        <h2 [id]="'accordion-flush-heading-' + (i + 1)">
          <button
            type="button"
            class="flex items-center justify-between w-full py-5 font-semibold lg:text-3xl text-2xl text-left text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400"
            [attr.data-accordion-target]="'#accordion-flush-body-' + (i + 1)"
            aria-expanded="true"
            [attr.aria-controls]="'accordion-flush-body-' + (i + 1)"
          >
            <span>{{ item.question }}</span>
            <svg
              data-accordion-icon
              class="lg:w-5 w-3 lg:h-5 h-3 rotate-180 shrink-0"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5 5 1 1 5"
              />
            </svg>
          </button>
        </h2>
        <div
          [id]="'accordion-flush-body-' + (i + 1)"
          class="hidden"
          [attr.aria-labelledby]="'accordion-flush-heading-' + (i + 1)"
        >
          <div class="py-5 border-b border-gray-200 dark:border-gray-700">
            <p
              class="mb-2 text-gray-500 dark:text-gray-400 lg:text-xl md:text-lg text-base font-medium"
            >
              {{ item.ans }}
            </p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
