.organizers-heading {
    color: #EA4335;
    font-family: Samarkan;
    font-weight: 400;
    font-size: 24px;
    margin: 0px 0px 0px 0px !important;
}
#default-carousel { 
    width: 327px;
    height: 161px;
    padding: 17.368px;
    flex-direction: column;
    align-items: center;
    gap: 8.684px;
}