/* *{
    margin-top: 13px;
    margin-bottom: 13px;
}
.organizers-heading {
    color: #EA4335;
    font-family: Samarkan;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 0px !important;
}
.organizers-image { 
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 17.368px;
} */