/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: ProductSans;
  src: url(assets/fonts/google_sans/ProductSans-Light.ttf) format("truetype");
}
@font-face {
  font-family: Samarkan;
  src: url(assets/fonts/samarkan/SAMAN___.TTF) format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
