/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: ProductSans;
  src: url(assets/fonts/google_sans/ProductSans-Thin.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: ProductSans;
  src: url(assets/fonts/google_sans/ProductSans-Light.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: ProductSans;
  src: url(assets/fonts/google_sans/ProductSans-Regular.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: ProductSans;
  src: url(assets/fonts/google_sans/ProductSans-Medium.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: ProductSans;
  src: url(assets/fonts/google_sans/ProductSans-Bold.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: TiroDevanagariHindi;
  src: url(assets/fonts/tiro_devanagari/TiroDevanagariHindi-Regular.ttf)
    format("truetype");
}
@font-face {
  font-family: Samarkan;
  src: url(assets/fonts/samarkan/SAMAN___.TTF) format("truetype");
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    word-break: normal;
  }
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
