<div
  class="grid grid-cols-12 md:gap-10 gap-5 overflow-hidden mx-[1.5rem] mb-[2rem] border border-gray-500 rounded-3xl lg:p-10 md:p-8 p-6"
>
  <div class="md:col-span-6 col-span-12">
    <div class="lg:min-h-[45rem] md:min-h-[31rem] min-h-[21rem]">
      <img
        src="assets/images/what-is-devfest.webp"
        alt="what is devfest"
        class="lg:h-[45rem] md:h-[31rem] h-[21rem] object-cover left-16"
      />
    </div>
  </div>
  <div class="md:col-span-6 col-span-12">
    <h1
      class="lg:text-7xl md:text-4xl text-3xl font-[600] text-[#3c4043] text-center md:text-left"
    >
      What Is Devfest
    </h1>
    <p class="lg:my-4 my-3 p-1 lg:text-lg font-medium text-gray-500 md:text-sm">
      DevFest is an annual distributed tech conference hosted by the Google
      Developer Groups (GDG) community. GDGs host these events around the globe.
      Through DevFest, you can continue to explore how Google's suite of
      developer tools can expand the impact of local tech professionals and
      developers like you around the world.
    </p>
    <p class="lg:text-4xl md:text-3xl font-semibold text-[#3c4043] text-2xl">
      What to expect
    </p>
    <p class="lg:text-2xl text-xl font-bold text-[#575c61] lg:my-4">
      Technical content
    </p>
    <p class="lg:text-lg md:text-sm text-[#575c61] lg:my-4">
      Worldwide events hosted by the Google Developer Groups community,
      featuring leading experts on Google technologies in areas like Cloud,
      Android, Firebase, Flutter, Machine Learning and so much more
    </p>
    <p class="lg:text-2xl text-xl font-bold text-[#575c61] lg:my-4">
      Hands-On Sessions
    </p>
    <p class="lg:text-lg md:text-sm text-[#575c61] lg:my-4">
      Full-day workshops, hands-on experiences, hacking and debugging events,
      all centered on your favorite Google technologies.
    </p>
    <p class="lg:text-2xl text-xl font-bold text-[#575c61] lg:my-4">
      Networking
    </p>
    <p class="lg:text-lg md:text-sm text-[#575c61] lg:my-4">
      Meet and connect with other developers in your community.
    </p>
  </div>
</div>
